<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871535005912-981brunj5g3dsjbn3tolducjbk0lsgan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871535005912-981brunj5g3dsjbn3tolducjbk0lsgan</string>
	<key>API_KEY</key>
	<string>AIzaSyDiNHedTXPdB6iBKNSWr_jJzR318qkF5-U</string>
	<key>GCM_SENDER_ID</key>
	<string>871535005912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-abec5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-abec5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871535005912:ios:f88cbf52268b1b2b6e47ad</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-abec5-default-rtdb.firebaseio.com</string>
</dict>
</plist>